<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <img width="300" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<div class="row">
  <table class="table table-striped">
    <thead>
      <tr>
        <td>Name</td>
        <td>AniDb code</td>
        <td>Storage</td>
      </tr>
    </thead>
    <tr *ngFor="let anime of animeList">
      <td>
        <a *ngIf="anime.anidbCode" href="https://anidb.net/perl-bin/animedb.pl?show=anime&aid={{anime.anidbCode}}" target="_blank">{{anime.name}}</a>
        <span *ngIf="!anime.anidbCode">{{anime.name}}</span>
      </td>
      <td>{{anime.anidbCode}}</td>
      <td> <span class="label label-primary" *ngFor="let storage of anime.storage">{{storage}}</span>
      </td>


    </tr>
  </table>
</div>


<!--
<div class="row">
  <div class="col-xs-6 col-lg-3" *ngFor="let anime of animeList" >
    <h4>{{anime.name}}</h4>
    <img src="http://via.placeholder.com/250x300" class="img-thumbnail" />
    <div class="pull-left col-lg-6">
      <span class="label label-primary" *ngFor="let storage of anime.storage">{{storage}}</span>
    </div>
  </div>
  <p></p>
</div>
-->

